<div class="container  shadow-lg p-4 bg-white center" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
    <form #signupForm="ngForm">
        <h3 class="text-center">Signup</h3>
        <div class="form-group ">
            <label class="form-label ">Your Name</label>
            <input class="form-control " type="text " name="user_name " #user_name="ngModel" ngModel required>
            <span class="form-text text-danger " *ngIf="user_name.touched && !user_name.valid ">Please enter valid name.</span>
        </div>

        <div class="form-group ">
            <label class="form-label ">Mobile</label>
            <input class="form-control " type="tel " name="user_mob " #user_mob="ngModel" ngModel required minlength="10 ">
            <span class="form-text text-danger " *ngIf="user_mob.touched && !user_mob.valid ">Please enter valid Mobile Number.</span>
        </div>

        <div class="form-group ">
            <label class="form-label ">Password</label>
            <input class="form-control " type="password " name="user_pass " #user_pass="ngModel" ngModel required>
            <span class="form-text text-danger " *ngIf="user_pass.touched && !user_pass.valid ">Please enter valid password.</span>
        </div>

        <div class="form-group ">
            <label class="form-label ">Re-Type Password</label>
            <input class="form-control " type="password " name="user_repass " #user_repass="ngModel" ngModel required>
            <span class="form-text text-danger " *ngIf="user_repass.touched && !user_repass.valid ">Password Mismatch.</span>
        </div>

        <div class="form-group ">
            <input class="form-check " type="checkbox " name="user_check " #user_check="ngModel" ngModel required>
            <label class="form-label ">  I agree to Terms & Conditions</label>
            <span class="form-text text-danger " *ngIf="!user_check.valid ">Please accept terms and conditions.</span>
        </div>
        <div class="text-center ">
            <input type="button " [ngClass]="!signupForm.valid ? 'btn btn-secondary w-50' : 'btn btn-primary w-50' " [disabled]="!signupForm.valid " value="Continue ">
        </div>
    </form>
    <div class="text-center pt-3">
        <div class="row">
            <div class="col">
                <p>Already have account <strong>?</strong></p>
            </div>
            <div class="col">
                <input class="btn btn-outline-danger btn-sm" type="button" routerLink="/login" value="Login">
            </div>
        </div>
        <div class="row pt-3 justify-content-center">
            <div class="col">
                <a routerLink="/terms-and-conditions">Terms & Conditions</a>
            </div>
            <div class="col">
                <p>|</p>
            </div>
            <div class="col">
                <a routerLink="/privacy-policy">Privacy Policy</a>
            </div>
        </div>
        <p>Copyright © 2020</p>
    </div>
</div>